body, html {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

table {
    width: 60%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid #333;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #fb8500; /* Orange color */
    color: #fff;
    font-weight: bold;
}

.delete-btn {
    background-color: #00bbf0; /* Red color */
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #cc0000; /* Darker red on hover */
}

